<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <bindings>
      
      <!--
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWCFSiplex" />
      </basicHttpBinding> -->
      
      <!--<netTcpBinding>
        <binding name="NetTcpBinding_IWCFSiplex" />
      </netTcpBinding> -->
    </bindings>


    <client>
      <!--
      <endpoint address="http://localhost:57063/WCFSiplex.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IWCFSiplex" contract="*"
          name="BasicHttpBinding_IWCFSiplex" /> -->

      <!--
      <endpoint address="net.tcp://localhost:57064/WCFSiplex.svc" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IWCFSiplex" contract="LB5.IWCFSiplex"
          name="NetTcpBinding_IWCFSiplex" /> -->
    </client>
    
  </system.serviceModel>
</configuration>