<!DOCTYPE html>
<html>

<head>
    <title>LB3</title>
    <meta charset="utf-8" />
</head>

<body>
    <h2>LB3 - WebApp</h2>
    <br />

    <label>Choose respose data type:</label>
    <input type="radio" id="json_type" name="data_type" value="json" checked>
    <label for="json_type">JSON</label>
    <input type="radio" id="xml_type" name="data_type" value="xml">
    <label for="xml_type">XML</label>
    <br />

    <button id="btn-get">GET LIST</button>
    <br /><br />

    <label>SET RESULT:</label>
    <input id="txt-post" type="text">
    <br />
    <button id="btn-post">POST</button>
    <br /><br />

    <label>ADD TO STACK:</label>
    <input id="txt-put" type="text">
    <br />
    <button id="btn-put">PUT</button>
    <br /><br />

    <label>DELETE FROM STACK:</label>
    <button id="btn-delete">DELETE</button>
    <hr />


    <label>INFO HERE:</label>
    <input id="txt-stat" type="text" disabled />

</body>
</html>