
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Student</title>
</head>
<body>
    <div>
        <form method="post" action="~/Home/AddStudSave">
            <label>Enter name: </label> <input type="text" name="name" />
            <br /><br />
            <input type="submit" value="ADD" />
        </form>
    </div>
</body>
</html>
