
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Client</title>
</head>
<body>
    <div>
        <p>@ViewBag.Result</p>
    </div>
</body>
</html>
